<main class="mx-auto px-4 py-4 sm:px-8 lg:container">
    <!-- Header -->
    <app-header [title]="'Registry'" (search)="''"/>
    <!-- end Header -->
    

    <section>
        <div class="space-y-4 rounded-lg bg-white p-4 shadow-md">
          <div class="container mx-auto p-4">
            <div class="mb-4 flex items-center justify-between">
              <div>
                <button
                  class="border-b-1 border border-solid border-transparent border-b-primary bg-white px-4 py-2 text-sm text-primary">
                  List of Trucks (100)
                </button>
              </div>
              <div class="flex space-x-4">
                <button class="rounded-md bg-primary px-2 py-2 text-white text-sm">+ Create Registry</button>
              </div>
            </div>
            <table class="min-w-full border bg-white in-w-full leading-normal">
              <thead>
                <tr class="bg-gray-100 text-xs uppercase ">
                  <th class="py-3 px-6 text-left"><input type="checkbox" /></th>
                  <th class="py-3 px-6 text-left">Truck Details</th>
                  <th class="py-3 px-6 text-left">Plate number</th>
                  <th class="py-3 px-6 text-right">Capacity</th>
                  <th class="py-3 px-6 text-left">Status</th>
                  <th class="py-3 px-6 text-center">Actions</th>
                </tr>
              </thead>
              <tbody class="text-sm text-gray-600">
                <tr class="border-b border-gray-200 hover:bg-gray-100">
                  <td class="py-3 px-6 text-left"><input type="checkbox" /></td>
                  <td class="py-3 px-6 text-left">
                    <div class="flex items-center">
                      <div class="rounded-md bg-green-100 p-2">
                        <svg-icon [src]="'assets/icons/card-truck-icon.svg'" [svgClass]="'h-4 w-4'"></svg-icon>
                      </div>
                      <div class="ml-3">
                        <p class="font-semibold text-black">Truck CR2034</p>
                      </div>
                    </div>
                  </td>
                  <td class="py-3 px-6 text-left">Plate XRTWST</td>
                  <td class="py-3 px-6 text-right">30,000 Litres</td>
                  <td class="py-3 px-6 text-left">
                    <span class="rounded-full bg-blue-200 py-1 px-2 text-xs text-blue-600">Created</span>
                  </td>
                  <td class="py-3 px-6 text-center">
                    <div class="item-center flex justify-center">
                      <div class="mr-2 w-4 transform hover:scale-110 hover:text-purple-500">
                        <svg-icon [src]="'assets/icons/horizontal.svg'" [svgClass]="'h-4 w-4'"></svg-icon>
                      </div>
                    </div>
                  </td>
                </tr>
                <!-- Repeat the table row for each order as needed -->
                <tr class="border-b border-gray-200 hover:bg-gray-100">
                  <td class="py-3 px-6 text-left"><input type="checkbox" /></td>
                  <td class="py-3 px-6 text-left">
                    <div class="flex items-center">
                      <div class="rounded-md bg-green-100 p-2">
                        <svg-icon [src]="'assets/icons/card-truck-icon.svg'" [svgClass]="'h-4 w-4'"></svg-icon>
                      </div>
                      <div class="ml-3">
                        <p class="font-semibold text-black">Truck CR2034</p>
                      </div>
                    </div>
                  </td>
                  <td class="py-3 px-6 text-left">Plate XRTWST</td>
                  <td class="py-3 px-6 text-right">20,000 Litres</td>
                  <td class="py-3 px-6 text-left">
                    <span class="rounded-full bg-blue-200 py-1 px-2 text-xs text-blue-600">Created</span>
                  </td>
                  <td class="py-3 px-6 text-center">
                    <div class="item-center flex justify-center">
                      <div class="mr-2 w-4 transform hover:scale-110 hover:text-purple-500">
                        <svg-icon [src]="'assets/icons/horizontal.svg'" [svgClass]="'h-4 w-4'"></svg-icon>
                      </div>
                    </div>
                  </td>
                </tr>
                <!-- Add more rows as necessary -->
              </tbody>
            </table>
            <div class="mt-4 flex items-center justify-between">
              <div class="text-sm text-gray-600">Showing 1 to 10 of 50 entries</div>
              <div class="flex space-x-2">
                <button class="rounded border py-1 px-3 text-gray-600">1</button>
                <button class="rounded border bg-green-600 py-1 px-3 text-white">2</button>
                <button class="rounded border py-1 px-3 text-gray-600">3</button>
                <button class="rounded border py-1 px-3 text-gray-600">4</button>
              </div>
            </div>
          </div>
        </div>
      </section>
</main>